body{
    background: #E0E0E0;;
}
.register{
    background: #fff;
    padding: 35px 15px;
    margin-top: 10%;
}
.register-heading{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}
#register_btn{
    background: #219653 !important;
}
#invalid-email{
    font-size: 15px;
    color: red;
}