.custom-navbar{
    width: 80%;
    padding: 0;
    margin: 0 auto;
    box-shadow: none;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.custom-navbar img{
    width: 110px;
    height: 110px;
}